
.item-container{
  max-width:80%;
  margin:100px;
  padding:50px;
  position: relative;
  left:9%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.read-the-docs {
  color: #888;
}  

.cart-icon{
 color:white;
 cursor:pointer;
}
