
h1{
  color:black;
  font-size:36px;
}

.product-image{
  max-width:30vw;
  max-height:40vw;
 margin-top:-450px;
 

}

.item-container{
  max-width:80%;
  margin:100px;
  padding:50px;
  position: relative;
  left:9%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.descryption{
  float:right;
  position:static;
  max-width:40%;
  height:auto;
  margin-left:54%;
  
}

.cart{
margin-top:10px;
display: block;
padding:8px;
font-family: arial;
font-weight: 600;
border-width: 2px;
border-image: linear-gradient(to right, darkblue, rgb(150, 9, 9)) 1;

}

.input{
  width:70%;
  border:1px solid black;
  padding:5px;
  border-radius: 5px;
}

p {
font-size:22px;
}

.read-the-docs {
  color: #888;
}  

.cart-icon{
 color:white;
 cursor:pointer;
}
