h1{
  color:black;
}

img{
  max-width:610px;
  max-height:560px;
  
}

.item-container{
  border:1px solid black;
  max-width:70%;
  margin:100px;
  margin-left:11%;
  padding:50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height:auto;
}

.descryption{
  margin-left:65%;
 
}
