@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Righteous&display=swap');
*{
  font-family: 'Quicksand';
}

button{
  cursor: pointer;
}

#page-title{
  font-family: 'Righteous';
}

body {
  margin: 0;
  background-color: var(--Dark-gray);
  box-sizing: border-box;
}


/* Ändra till styled-fil */
.cartImage{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

